APP_NAME=Entorns de Natura
APP_ENV=local
APP_URL=http://localhost/entorns-de-natura/public
BASE_URL=/entorns-de-natura/public
DB_HOST=localhost
DB_NAME=entorns_de_natura
DB_USER=root
DB_PASSWORD=
DB_PASS=
GOOGLE_SYNC_ENABLED=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
